@model List<Data.Formation>
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Avis Formation</h1>
    <p>Soyer sur de la formation que vous allez acheter !</p>
</div>

<section class="avantages">
    <div class="row text-center">
        <div class="col-md-6 col-lg-3">
            <span class="fa fa-check fa-3x orange"></span>
            <h3>Auhentiques Avis</h3>
            <p>Des avis d'élèves bien réel !</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <span class="fa fa-glasses fa-3x orange"></span>
            <h3>Transparence Avis</h3>
            <p>Rien ne vous est caché</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <span class="fa fa-thumbs-up fa-3x orange"></span>
            <h3>Plateforme indépendante</h3>
            <p>Indépendance des organismes de formation</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <span class="fa fa-dollar-sign fa-3x orange"></span>
            <h3>Gratuit</h3>
            <p>Tout notre travail gratuit pour vous !</p>
        </div>
    </div>
</section>

<section class="badge text-center"> 
    <div class="row">
        <div class="col-md-8 padding15">
            <h4>Professionnels de la formation, affichez notre badge sur votre site !</h4>
        </div>
        <div class="col-md-4">

            <div class="widget">
                <div class="widget-top">
                    avis élèves 4.8/5 <span class="fa fa-star orange"></span> <span class="fa fa-star orange"></span> <span class="fa fa-star orange"></span> <span class="fa fa-star orange"></span> <span class="fa fa-star orange"></span>
                </div>
                <div class="widget-bottom">
                    Avis récoltés par AvisFormations.fr
                </div>
            </div>
        </div>
    </div>
</section>


<p>Voici nos formations phares :</p>

@foreach (var formation in Model)
{
    <p>Nom de la formation : @formation.Nom</p>

    <a asp-controller="Formation"
       asp-action="DetailsFormation"
       asp-route-idFormation="@formation.Id">@formation.Nom</a>
    <p>Description de la formation : @formation.Description</p>
    <br />
}

@section Scripts
{    
<script>
    $(document).ready(function () {
        alert('script fonctionne');
    });
</script>
}


