@model List<Data.Formation>
@{
    ViewData["Title"] = "Home Page";
}

<p>Voici nos formations phares :</p>

@foreach (var formation in Model)
{
    <p>Nom de la formation : @formation.Nom</p>

    <a asp-controller="Formation"
       asp-action="DetailsFormation"
       asp-route-idFormation="@formation.Id">@formation.Nom</a>
    <p>Description de la formation : @formation.Description</p>
    <br />
}

@section Scripts
{    
<script>
    $(document).ready(function () {
        alert('script fonctionne');
    });
</script>
}


