@model LaisserUnAvisViewModel
@{
    ViewData["Title"] = "Laisser Un Avis sur la formation : "+Model.NomFormation;
}

<h1>Laisser Un Avis sur la formation : @Model.NomFormation</h1>
<p>Merci de compléter les champs ci dessous</p>

<form action="/avis/SaveComment">
    <div asp-validation-summary="All" class="text-danger"> </div>

    <div class="form-group">
        <label>Nom:</label>
        <input type="text" name="nom" value="@Model.Nom" class="form-control"/>
    </div>
    <br />

    <p>Merci d'ecrire votre avis ci dessous</p>
    <textarea cols="5" name="commentaire" class="form-control">@Model.Commentaire</textarea>
    <br />

    <div class="form-group">
        <label>Sélectionner une note :</label>
        <select name="note" class="form-control">
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
            <option>2.5</option>
            <option>3</option>
            <option>3.5</option>
            <option>4</option>
            <option>4.5</option>
            <option>5</option>
        </select>
        <br />
        <input type="submit" value="Poster votre avis" class="btn btn-warning" />
        <input type="hidden" name="idFormation" value="@Model.IdFormation" />
    </div>
</form>